{% extends '@WorkshopWishlist/page/wishlist/_page.html.twig' %}

{% block base_breadcrumb %}
    {% set breadcrumbList = [
        {
            "name": 'Wishlist',
            "link": path('frontend.wishlist.index')
        },
        {
            "name": page.wishlist.name|e,
            "link": path('frontend.wishlist.item', { wishlistId: page.wishlist.id })
        }
    ] %}

    {{ parent() }}
{% endblock %}

{% block base_content %}
    <h1>{{ page.wishlist.name|e }}</h1>

    {% block wishlist_item_add_to_cart_button %}
        {% if page.context.customer %}
            <form class="wishlist-add-to-cart"
                  action="{{ path('frontend.wishlist.add_to_cart', {'wishlistId': page.wishlist.id}) }}"
                  method="post">
                <button type="submit"
                        title="{{ "frontend.wishlist.add_to_cart.button"|trans }}"
                        class="btn btn-light">
                    {{ "Add wishlist items to cart"|trans }}
                </button>
            </form>
        {% endif %}
    {% endblock %}

    <p>You are{% if not page.customerIsOwner %}n't{% endif %} the owner of this wishlist</p>
    <p>The Wishlist visibility is {% if not page.wishlist.public %} not{% endif %} public</p>

    <div class="row">
        <div class="col-lg-12">
            {% for product in page.wishlist.products %}
                <li>
                    <a href="{{ path('frontend.detail.page', { productId: product.id }) }}">{{ product.name|e }}</a>
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
