{% extends '@WorkshopWishlist/page/wishlist/_page.html.twig' %}

{% block base_breadcrumb %}
    {% set breadcrumbList = [
        {
            "name": 'Wishlist',
            "link": path('frontend.wishlist.index')
        },
        {
            "name": page.wishlist.name|e,
            "link": path('frontend.wishlist.item', { wishlistId: page.wishlist.id })
        }
    ] %}

    {{ parent() }}
{% endblock %}

{% block base_content %}
    <h1>{{ page.wishlist.name|e }}</h1>

    {% block wishlist_item_add_to_cart_button %}
        {% if page.context.customer %}
            <form class="wishlist-add-to-cart"
                  action="{{ path('frontend.wishlist.add_to_cart', {'wishlistId': page.wishlist.id}) }}"
                  method="post">
                <button type="submit"
                        title="{{ "frontend.wishlist.add_to_cart.button"|trans }}"
                        class="btn btn-light">
                    {{ "Add wishlist items to cart"|trans }}
                </button>
            </form>

            {% block page_wishlist_remove_form %}
                <form action="{{ path('frontend.wishlist.remove', {'wishlistId': wishlist.id}) }}"
                      method="POST"
                >
                    {% block page_wishlist_remove_submit %}
                        <button type="submit"
                                title="{{ "wishlist.remove"|trans }}"
                                class="btn btn-light btn-sm wishlist-item-remove-button">
                            {{ "Remove wishlist"|trans }}
                        </button>
                    {% endblock %}
                </form>
            {% endblock %}
        {% endif %}
    {% endblock %}

    <p>You are{% if not page.customerIsOwner %}n't{% endif %} the owner of this wishlist</p>
    <p>The Wishlist visibility is {% if not page.wishlist.public %} not{% endif %} public</p>

    <div class="row">
        <div class="col-lg-12">
            {% for product in page.wishlist.products %}
                <li>
                    <a href="{{ path('frontend.detail.page', { productId: product.id }) }}">{{ product.name|e }}</a>
                    {% block page_checkout_item_remove %}
                        <div class="col-2 col-md-1 wishlist-item-remove">
                            {% block page_wishlist_item_remove_form %}
                                <form action="{{ path('frontend.wishlist.product.remove', {'wishlistId': wishlist.id, 'productId':  product.id}) }}"
                                      method="POST"
                                      >
                                    {% block page_wishlist_item_remove_submit %}
                                        <button type="submit"
                                                title="{{ "wishlist.removeLineItem"|trans }}"
                                                class="btn btn-light btn-sm wishlist-item-remove-button">
                                            <i class="fas fa-times"></i>
                                        </button>
                                    {% endblock %}
                                </form>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
